<div class="orders">
  <h2>Lista de pedidos</h2>

  <ol class="orders-list">
      <h3>Desayuno</h3>
      <li *ngFor="let menu of menus; let i of index">
          <table class="table">
              <thead class="table table-striped mb-5 mt-5">
                  <tr>
                      <th scope="col" class="col-names">#</th>
                      <th scope="col" class="col-names">Cliente</th>
                      <th scope="col" class="col-names">Café americano</th>
                      <th scope="col" class="col-names">Café con leche</th>
                      <th scope="col" class="col-names">Sandwich de jámon y queso</th>
                      <th scope="col" class="col-names">Jugo</th>
                      <th scope="col" class="col-names"></th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th scope="row"></th>
                      <td>{{menu.cliente}}</td>
                      <td>{{menu.cafeAmericano}}</td>
                      <td>{{menu.cafeConLeche}}</td>
                      <td>{{menu.sandwich}}</td>
                      <td>{{menu.jugo}}</td>
                      <td>
                          <a (click)="deleteMenu(menu._id)">
                              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                  <path
                                      fill-rule="evenodd"
                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                                  />
                              </svg>
                          </a>
                      </td>
                  </tr>
              </tbody>
          </table>
      </li>
  </ol>
  <ol class="orders-list mt-5">
      <h3>Almuerzo y cena</h3>
      <li *ngFor="let menu of menus">
          <table class="table">
              <thead class="table table-striped mb-5 mt-5">
                  <tr>
                      <th scope="col" class="col-names">#</th>
                      <th scope="col" class="col-names">Cliente</th>
                      <th scope="col" class="col-names">Hamburguesa simple</th>
                      <th scope="col" class="col-names">Hamburguesa doble</th>
                      <th scope="col" class="col-names">Papas fritas</th>
                      <th scope="col" class="col-names">Onion rings</th>
                      <th scope="col" class="col-names">Agua 500ml</th>
                      <th scope="col" class="col-names">Agua 750ml</th>
                      <th scope="col" class="col-names">Gaseosa 500ml</th>
                      <th scope="col" class="col-names">Gaseosa 750ml</th>
                      <th scope="col" class="col-names">Queso o huevo</th>
                      <th scope="col" class="col-names"></th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th scope="row"></th>
                      <td>{{menu.cliente}}</td>
                      <td>{{menu.hambuguesaSimple}}</td>
                      <td>{{menu.hamburguesaDoble}}</td>
                      <td>{{menu.papasFritas}}</td>
                      <td>{{menu.onionRings}}</td>
                      <td>{{menu.agua500ml}}</td>
                      <td>{{menu.agua750ml}}</td>
                      <td>{{menu.refresco500ml}}</td>
                      <td>{{menu.refresco750ml}}</td>
                      <td>{{menu.quesoOhuevo}}</td>
                      <td>
                          <a (click)="deleteMenu(menu._id)">
                              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                  <path
                                      fill-rule="evenodd"
                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                                  />
                              </svg>
                          </a>
                      </td>
                  </tr>
              </tbody>
          </table>
      </li>
  </ol>
</div>
